In [21]:
import pandas as pd

# Replace these with your actual file names
files = ['2017PurchasePricesDec.csv', 'BegInvFINAL12312016.csv', 'EndInvFINAL12312016.csv', 'EndInvFINAL12312016.csv', 'EndInvFINAL12312016.csv']

# Read all files into a list of DataFrames
dataframes = [pd.read_csv(file) for file in files]

# Example: print the shape of each DataFrame
for i, df in enumerate(dataframes, 1):
    print(f"File {i} shape: {df.shape}")

File 1 shape: (12261, 9)
File 2 shape: (206529, 9)
File 3 shape: (224489, 9)
File 4 shape: (224489, 9)
File 5 shape: (224489, 9)

In [22]:
combined_df = pd.concat(dataframes, ignore_index=True)

print(combined_df.head())

   Brand                  Description  Price   Size Volume  Classification  \
0     58  Gekkeikan Black & Gold Sake  12.99  750mL    750             1.0
1     62     Herradura Silver Tequila  36.99  750mL    750             1.0
2     63   Herradura Reposado Tequila  38.99  750mL    750             1.0
3     72         No. 3 London Dry Gin  34.99  750mL    750             1.0
4     75    Three Olives Tomato Vodka  14.99  750mL    750             1.0

   PurchasePrice  VendorNumber                   VendorName InventoryId  \
0           9.28        8320.0  SHAW ROSS INT L IMP LTD             NaN
1          28.67        1128.0  BROWN-FORMAN CORP                   NaN
2          30.46        1128.0  BROWN-FORMAN CORP                   NaN
3          26.11        9165.0  ULTRA BEVERAGE COMPANY LLP          NaN
4          10.94        7245.0  PROXIMO SPIRITS INC.                NaN

   Store City  onHand startDate endDate
0    NaN  NaN     NaN       NaN     NaN
1    NaN  NaN     NaN       NaN     NaN
2    NaN  NaN     NaN       NaN     NaN
3    NaN  NaN     NaN       NaN     NaN
4    NaN  NaN     NaN       NaN     NaN

In [23]:
combined_df.isnull().sum()

Brand                  0
Description            1
Price                  0
Size                   1
Volume            879997
Classification    879996
PurchasePrice     879996
VendorNumber      879996
VendorName        879996
InventoryId        12261
Store              12261
City               16113
onHand             12261
startDate         685728
endDate           218790
dtype: int64

In [25]:
import pandas as pd

# Replace 'your_file.csv' with your actual file path
df = pd.read_csv('combined_data.csv')

# Display the first few rows
print(df.head())

C:\Users\agraw\AppData\Local\Temp\ipykernel_19268\4279208896.py:4: DtypeWarning: Columns (4,8,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('combined_data.csv')

   Brand                  Description  Price   Size Volume  Classification  \
0     58  Gekkeikan Black & Gold Sake  12.99  750mL    750             1.0
1     62     Herradura Silver Tequila  36.99  750mL    750             1.0
2     63   Herradura Reposado Tequila  38.99  750mL    750             1.0
3     72         No. 3 London Dry Gin  34.99  750mL    750             1.0
4     75    Three Olives Tomato Vodka  14.99  750mL    750             1.0

   PurchasePrice  VendorNumber                   VendorName InventoryId  \
0           9.28        8320.0  SHAW ROSS INT L IMP LTD             NaN
1          28.67        1128.0  BROWN-FORMAN CORP                   NaN
2          30.46        1128.0  BROWN-FORMAN CORP                   NaN
3          26.11        9165.0  ULTRA BEVERAGE COMPANY LLP          NaN
4          10.94        7245.0  PROXIMO SPIRITS INC.                NaN

   Store City  onHand startDate endDate
0    NaN  NaN     NaN       NaN     NaN
1    NaN  NaN     NaN       NaN     NaN
2    NaN  NaN     NaN       NaN     NaN
3    NaN  NaN     NaN       NaN     NaN
4    NaN  NaN     NaN       NaN     NaN

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892257 entries, 0 to 892256
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Brand           892257 non-null  int64
 1   Description     892256 non-null  object
 2   Price           892257 non-null  float64
 3   Size            892256 non-null  object
 4   Volume          12260 non-null   object
 5   Classification  12261 non-null   float64
 6   PurchasePrice   12261 non-null   float64
 7   VendorNumber    12261 non-null   float64
 8   VendorName      12261 non-null   object
 9   InventoryId     879996 non-null  object
 10  Store           879996 non-null  float64
 11  City            876144 non-null  object
 12  onHand          879996 non-null  float64
 13  startDate       206529 non-null  object
 14  endDate         673467 non-null  object
dtypes: float64(6), int64(1), object(8)
memory usage: 102.1+ MB

In [27]:
df.isnull().sum()

Brand                  0
Description            1
Price                  0
Size                   1
Volume            879997
Classification    879996
PurchasePrice     879996
VendorNumber      879996
VendorName        879996
InventoryId        12261
Store              12261
City               16113
onHand             12261
startDate         685728
endDate           218790
dtype: int64

In [28]:
duplicates = df[df.duplicated()]
print(f"Total duplicate rows: {len(duplicates)}")

Total duplicate rows: 448978

In [29]:
clean_df = df.dropna()  # removes all rows with any missing values
print(clean_df.shape)

(0, 15)

In [30]:
print(df.describe())
print(df.info())

               Brand          Price  Classification  PurchasePrice  \
count  892257.000000  892257.000000    12261.000000   12261.000000
mean    14268.591800      23.484218        1.708996      26.488220
std     13106.614359      80.388438        0.454244     156.182948
min        58.000000       0.000000        1.000000       0.000000
25%      3790.000000       9.990000        1.000000       6.890000
50%      8218.000000      14.990000        2.000000      10.650000
75%     23616.000000      22.990000        2.000000      20.130000
max     90631.000000   13999.900000        2.000000   11111.030000

        VendorNumber          Store         onHand
count   12261.000000  879996.000000  879996.000000
mean    10814.861757      43.181093      21.450783
std     19007.682322      23.302133      35.967792
min         2.000000       1.000000       0.000000
25%      3960.000000      23.000000       7.000000
50%      7153.000000      44.000000      12.000000
75%      9552.000000      65.000000      22.000000
max    173357.000000      81.000000    3676.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892257 entries, 0 to 892256
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Brand           892257 non-null  int64
 1   Description     892256 non-null  object
 2   Price           892257 non-null  float64
 3   Size            892256 non-null  object
 4   Volume          12260 non-null   object
 5   Classification  12261 non-null   float64
 6   PurchasePrice   12261 non-null   float64
 7   VendorNumber    12261 non-null   float64
 8   VendorName      12261 non-null   object
 9   InventoryId     879996 non-null  object
 10  Store           879996 non-null  float64
 11  City            876144 non-null  object
 12  onHand          879996 non-null  float64
 13  startDate       206529 non-null  object
 14  endDate         673467 non-null  object
dtypes: float64(6), int64(1), object(8)
memory usage: 102.1+ MB
None

In [31]:
# Check for duplicates
duplicates = df[df.duplicated()]
print(f"Duplicate Rows: {len(duplicates)}")

# Remove duplicates
df = df.drop_duplicates()

Duplicate Rows: 448978

In [32]:
df = df.drop(columns=['startDate', 'endDate','onHand','InventoryId', 'Store', 'City'])

# Verify the result
print(df.columns)

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [33]:
df = df.drop(columns=['Volume'])

In [34]:
df = df.rename(columns={'Size': 'Volume'})

In [35]:
df.isnull().sum()

Brand                  0
Description            1
Price                  0
Volume                 1
Classification    431018
PurchasePrice     431018
VendorNumber      431018
VendorName        431018
dtype: int64

In [36]:
df['Classification'] = df['Classification'].fillna(-1)
df['PurchasePrice'] = df['PurchasePrice'].fillna(df['PurchasePrice'].median())
df['VendorNumber'] = df['VendorNumber'].fillna(-1)
df['VendorName'] = df['VendorName'].fillna('No Vendor')

In [37]:
df = df.dropna(subset=['Description', 'Volume'])

In [38]:
df['VendorName'] = df['VendorName'].fillna('No Vendor')

In [39]:
df['VendorNumber'] = df['VendorNumber'].fillna(-1)
df['Classification'] = df['Classification'].fillna(-1)

In [40]:
df['PurchasePrice'] = df['PurchasePrice'].fillna(df['PurchasePrice'].median())

In [41]:
df = df[df['Price'] >= 0]
df = df[df['PurchasePrice'] >= 0]

In [42]:
Q1 = df['Price'].quantile(0.25)
Q3 = df['Price'].quantile(0.75)
IQR = Q3 - Q1
df = df[(df['Price'] >= Q1 - 1.5 * IQR) & (df['Price'] <= Q3 + 1.5 * IQR)]

In [43]:
df['Brand'] = df['Brand'].astype('Int64')
df['VendorNumber'] = df['VendorNumber'].astype('Int64')
df['Classification'] = df['Classification'].astype('Int64')

In [44]:
df.to_csv('preprocessed_data.csv', index=False)